/*! Estilos para la barra de navegacion lateral cuando esta CERRADA */

.side-navbar-none {
  position: fixed;
  top: 0;
  left: 0;
  --sidebar-width: 6rem;
  width: var(--sidebar-width);
  height: 100vh;
  padding: 1rem;
  background-color: var(--surface-dark);
  border-right: 2px solid var(--border-dark);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side-navbar-none .logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
  }
  h1 {
    display: none;
  }
  span {
    display: none;
  }
}

.side-navbar-none .nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
  li {
    padding: 0.75rem 0.5rem;
    border-radius: 0.5rem;
    transition: transform 0.2s ease;
    a {
      display: flex;
      align-items: center;
      justify-content: center; /* <-- aquí se centra el ícono */
      width: 100%;
      gap: 0;
      text-decoration: none;
      color: var(--secondary);
      font-size: 0; /* el texto NO se verá */
      text-align: center;
    }
    &:hover {
      background-color: var(--background-primary-selected);
      transform: scale(1.07);
      a {
        color: var(--primary-2);
        font-weight: 600;
      }
    }
  }

  .selected {
    background-color: var(--background-primary-selected);
    padding: 1rem 0.5rem;
    a {
      color: var(--primary-2);
      font-weight: 700;
    }
    &:hover {
      transform: scale(1);
      a {
        pointer-events: none;
        font-weight: 700;
      }
    }
  }
  .create-ticket {
    background-color: var(--background-primary-selected-op02);
    border-radius: 40px;
    a {
      color: var(--primary-2);
    }
  }
  li:last-child {
    margin-top: auto;
    border-top: 1px solid var(--border-dark);

    &:hover {
      background-color: var(--background-red);
      a {
        color: red;
      }
    }
  }
}

.side-navbar-none .toggle-btn {
  rotate: 180deg; /* rotar el icono del sidebar al ocultar el panel */
}
