/*! Estilos para la barra de navegacion lateral cuando esta CERRADA */

.side-navbar-none .toggle-btn {
  rotate: 180deg; /* rotar el icono del sidebar al ocultar el panel */
}

.side-navbar-none {
  width: 6rem;
  border-right: 2px solid var(--border-dark);
}

.side-navbar-none .logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
  }
  h1 {
    /* display: none; */
    font-size: 0rem;
  }
  span {
    font-size: 0rem;
  }
}

.side-navbar-none .nav-links {
  li {
    border-radius: 0.5rem;
    a {
      justify-content: center; /* <-- aquí se centra el ícono */
      width: 100%;
      gap: 0;
      font-size: 0; /* el texto NO se verá */
      text-align: center;
    }
  }
  .create-ticket {
    border-radius: 40px;
  }
}
